@model Core.Api.AddClaimViewModel

@{
    ViewData["Title"] = "Apply Claims";

}
<style>
    element.style {
        width: 300px;
        height: 920px;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
@{
    if (ViewBag.lang == "en")
    {
        Layout = "_Layouten";
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <!--begin::Subheader-->
            <div class="subheader py-3 py-lg-8 subheader-transparent" id="kt_subheader">
                <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                    <!--begin::Info-->
                    <div class="d-flex align-items-center flex-wrap mr-1">
                        <!--begin::Mobile Toggle-->
                        <button class="burger-icon burger-icon-left mr-4 d-inline-block d-lg-none" id="kt_subheader_mobile_toggle">
                            <span></span>
                        </button>
                        <!--end::Mobile Toggle-->
                        <!--begin::Page Heading-->
                        <div class="d-flex align-items-baseline mr-5">
                            <!--begin::Page Title-->
                            <h2 class="subheader-title text-white font-weight-bold my-2 mr-3">Apply Claim</h2>
                            <!--end::Page Title-->
                        </div>
                        <!--end::Page Heading-->
                    </div>
                    <!--end::Info-->
                    <!--begin::Toolbar-->
                    <div class="d-flex align-items-center">
                        <!--begin::Button-->
                        <a href="/Claims/ReimbursmentClaims?lang=en" class="btn btn-fh btn-white btn-hover-primary font-weight-bold px-2 px-lg-5 mr-2">
                            Back
                        </a>
                        <!--end::Button-->
                    </div>
                    <!--end::Toolbar-->
                </div>
            </div>
            <!--end::Subheader-->
            <form asp-controller="Claims" asp-action="AddClaim" method="post" enctype="multipart/form-data">

                <!--begin::Entry-->
                <div class="d-flex flex-column-fluid">
                    <!--begin::Container-->
                    <div class="container">
                        <!--begin::Profile Account Information-->
                        <div class="d-flex flex-row">


                            <!--begin::Content-->
                            <div class="flex-row-fluid ml-lg-8">
                                <!--begin::Card-->
                                <div class="card card-custom">
                                    <!--begin::Header-->
                                    <div class="card-header py-3">
                                        <div class="card-title align-items-start flex-column">
                                            <h3 class="text-dark font-weight-bold  mt-1">Select Insured Member</h3><br />
                                            <div class="col-lg-9 col-xl-6">
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="image-input image-input-outline" id="kt_image_1">
                                                        <div class="image-input-wrapper" style="background-image: url(assets/media/users/default.jpg)"></div>
                                                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="" data-original-title="Cancel avatar">
                                                        </span>
                                                        <span class="text-dark-50">@ViewBag.MemberName</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Header-->
                                    <!--begin::card body-->
                                    <div class="card-body">

                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <span class="text-muted">Claim Type</span>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-9 col-md-9 col-sm-12">
                                                <select class="form-control" asp-for="ClaimTypeName" id="kt_datatable_search_status" required>
                                                    <option value="">Select ClaimType</option>
                                                    <option value="In Patient">In Patient</option>
                                                    <option value="Out Patient">Out Patient</option> 
                                                    <option value="Repartnation"> Repartation</option>
                                                </select>
                                                <span class="text-danger field-validation-valid" asp-validation-for="ClaimTypeName" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <span id="errormessage"></span>
                                        <!--begin::Separator-->
                                        <div class="separator separator-solid my-5"></div>
                                        <!--end::Separator-->
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <span class="text-muted">Bank Name</span>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-9 col-md-9 col-sm-12">
                                                <select class="form-control" asp-for="ClientDTO.BankName" asp-items="Model._bankNames" id="kt_datatable_search_status1" required>
                                                    <option value="">Select Bank Name</option>
                                                </select>
                                                <span class="text-danger field-validation-valid" asp-validation-for="ClientDTO.BankName" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <span id="bnkerror"></span>
                                        <!--begin::Separator-->
                                        <div class="separator separator-solid my-5"></div>
                                        <!--end::Separator-->
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <span class="text-muted">IBAN Number</span>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-lg-1">
                                                <input type="text" class="form-control" placeholder="" asp-for="ClientDTO.IB0" maxlength="2" autocomplete="off" value="SA" readonly />
                                            </div>
                                            <div class="col-lg-1">
                                                <input type="number" class="form-control" placeholder="" asp-for="ClientDTO.IB1" onKeyPress="if(this.value.length==2) return false;" autocomplete="off" required step="" />
                                                <span class="text-danger field-validation-valid" asp-validation-for="ClientDTO.IB1" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="number" class="form-control" placeholder="" asp-for="ClientDTO.IB2" onKeyPress="if(this.value.length==4) return false;" autocomplete="off" required />
                                                <span class="text-danger field-validation-valid" asp-validation-for="ClientDTO.IB2" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="number" class="form-control" placeholder="" asp-for="ClientDTO.IB3" onKeyPress="if(this.value.length==4) return false;" autocomplete="off" required />
                                                <span class="text-danger field-validation-valid" asp-validation-for="ClientDTO.IB3" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="number" class="form-control" placeholder="" asp-for="ClientDTO.IB4" onKeyPress="if(this.value.length==4) return false;" autocomplete="off" required />
                                                <span class="text-danger field-validation-valid" asp-validation-for="ClientDTO.IB4" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="number" class="form-control" placeholder="" asp-for="ClientDTO.IB5" onKeyPress="if(this.value.length==4) return false;" autocomplete="off" required />
                                                <span class="text-danger field-validation-valid" asp-validation-for="ClientDTO.IB5" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="number" class="form-control" placeholder="" asp-for="ClientDTO.IB6" onKeyPress="if(this.value.length==4) return false;" autocomplete="off" required />
                                                <span class="text-danger field-validation-valid" asp-validation-for="ClientDTO.IB6" data-valmsg-replace="true"></span>
                                            </div>

                                        </div>
                                        <span id="ibanerror"></span>
                                        <!--begin::Separator-->
                                        <div class="separator separator-solid my-5"></div>
                                        <!--end::Separator-->
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="text-muted">Reimbursement Claim Amount</span>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group input-group-solid">
                                                <input type="number" class="form-control form-control-solid" placeholder="" asp-for="ExpectedAmount" autocomplete="off" required />
                                            </div>
                                            <span class="text-danger field-validation-valid" asp-validation-for="ExpectedAmount" data-valmsg-replace="true"></span>
                                        </div>
                                        <span id="claimerror"></span>
                                        <!--begin::Separator-->
                                        <div class="separator separator-solid my-5"></div>
                                        <!--end::Separator-->
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="text-muted">VAT Amount</span>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group input-group-solid">
                                                <input type="number" class="form-control form-control-solid" placeholder="" asp-for="VATAmount" autocomplete="off" required />
                                            </div>
                                            <span class="text-danger field-validation-valid" asp-validation-for="VATAmount" data-valmsg-replace="true"></span>
                                        </div>
                                        <span id="vaterror"></span>
                                        <!--begin::Separator-->
                                        <div class="separator separator-solid my-5"></div>
                                        <!--end::Separator-->
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="text-muted">Notes/Remarks</span>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control form-control-solid" rows="3" asp-for="Comment"></textarea>
                                        </div>
                                        <span id="noteerror"></span>
                                        <div class="form-group">

                                            <input asp-for="FilesUploaded" type="file" max="5" multiple class="btn-bg-primary" id="file" accept="image/jpeg,image/png,application/pdf,image/x-eps" onchange="javascript:updateList()" required>
                                            <span id="fileList"></span>
                                            <span class="text-danger field-validation-valid" asp-validation-for="FilesUploaded" id="filevalid" data-valmsg-replace="true"></span>
                                            <span class="form-text text-dark-50"> Only PDF & Image Files Supported. Max file size is 2MB. Maximum No of Files Suppoerted 5.</span>
                                        </div>
                                        @*<div class="form-group row">
                                                <label class="col-lg-3 col-form-label text-lg-right">Upload Files:</label>
                                                <div class="col-lg-9">
                                                    <div class="dropzone dropzone-multi" id="kt_dropzone_4">
                                                        <div class="dropzone-panel mb-lg-0 mb-2">
                                                            <a class="dropzone-select btn btn-light-primary font-weight-bold btn-sm dz-clickable">Attach files</a>
                                                            <a class="dropzone-upload btn btn-light-primary font-weight-bold btn-sm">Upload All</a>
                                                            <a class="dropzone-remove-all btn btn-light-primary font-weight-bold btn-sm">Remove All</a>
                                                        </div>
                                                        <div class="dropzone-items">

                                                        </div>
                                                        <div class="dz-default dz-message"><button class="dz-button" type="button">Drop files here to upload</button></div>
                                                    </div>
                                                    <span class="form-text text-muted">Max file size is 1MB and max number of files is 5.</span>
                                                </div>
                                            </div>*@
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary mr-2">Apply Claim</button>
                                        </div>
                                    </div>
                                    <!--end::card body-->
                                </div>
                                <!--end::Card-->
                            </div>
                            <!--end::Content-->
                        </div>
                        <!--end::Profile Account Information-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Entry-->
            </form>
        </div>
    }
    else if (ViewBag.lang == "ar")
    {
        Layout = "_Layoutv1";
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <!--begin::Subheader-->
            <div class="subheader py-3 py-lg-8 subheader-transparent" id="kt_subheader">
                <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                    <!--begin::Info-->
                    <div class="d-flex align-items-center flex-wrap mr-1">
                        <!--begin::Mobile Toggle-->
                        <button class="burger-icon burger-icon-left mr-4 d-inline-block d-lg-none" id="kt_subheader_mobile_toggle">
                            <span></span>
                        </button>
                        <!--end::Mobile Toggle-->
                        <!--begin::Page Heading-->
                        <div class="d-flex align-items-baseline mr-5">
                            <!--begin::Page Title-->
                            <h2 class="subheader-title text-white font-weight-bold my-2 mr-3">تطبيق المطالبة</h2>
                            <!--end::Page Title-->
                        </div>
                        <!--end::Page Heading-->
                    </div>
                    <!--end::Info-->
                    <!--begin::Toolbar-->
                    <div class="d-flex align-items-center">
                        <!--begin::Button-->
                        <a href="/Claims/ReimbursmentClaims?lang=ar" class="btn btn-fh btn-white btn-hover-primary font-weight-bold px-2 px-lg-5 mr-2">
                            عودة
                        </a>
                        <!--end::Button-->
                    </div>
                    <!--end::Toolbar-->
                </div>
            </div>
            <!--end::Subheader-->
            <form asp-controller="Claims" asp-action="AddClaim" method="post" enctype="multipart/form-data">

                <!--begin::Entry-->
                <div class="d-flex flex-column-fluid">
                    <!--begin::Container-->
                    <div class="container">
                        <!--begin::Profile Account Information-->
                        <div class="d-flex flex-row">


                            <!--begin::Content-->
                            <div class="flex-row-fluid ml-lg-8">
                                <!--begin::Card-->
                                <div class="card card-custom">
                                    <!--begin::Header-->
                                    <div class="card-header py-3">
                                        <div class="card-title align-items-start flex-column">
                                            <h3 class="text-dark font-weight-bold  mt-1"> حدد عضو مؤمن عليه</h3><br />
                                            <div class="col-lg-9 col-xl-6">
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="image-input image-input-outline" id="kt_image_1">
                                                        <div class="image-input-wrapper" style="background-image: url(assets/media/users/default.jpg)"></div>
                                                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="" data-original-title="Cancel avatar">
                                                        </span>
                                                        <span class="text-dark-50">@ViewBag.MemberName</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Header-->
                                    <!--begin::card body-->
                                    <div class="card-body">

                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <span class="text-muted">نوع المطالبة</span>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-9 col-md-9 col-sm-12">
                                                <select class="form-control" asp-for="ClaimTypeName" id="kt_datatable_search_status" required>
                                                    <option value="">حدد نوع المطالبة</option>
                                                    <option value="In Patient">In Patient</option>
                                                    <option value="Out Patient">Out Patient</option>
                                                    <option value="Repartnation"> Repartation</option>
                                                </select>
                                                <span class="text-danger field-validation-valid" asp-validation-for="ClaimTypeName" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <span id="errormessage"></span>
                                        <!--begin::Separator-->
                                        <div class="separator separator-solid my-5"></div>
                                        <!--end::Separator-->
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <span class="text-muted">اسم البنك</span>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-9 col-md-9 col-sm-12">
                                                <select class="form-control" asp-for="ClientDTO.BankName" asp-items="Model._bankNames" id="kt_datatable_search_status1" required>
                                                    <option value="">حدد اسم البنك</option>
                                                </select>
                                                <span class="text-danger field-validation-valid" asp-validation-for="ClientDTO.BankName" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <span id="bnkerror"></span>
                                        <!--begin::Separator-->
                                        <div class="separator separator-solid my-5"></div>
                                        <!--end::Separator-->
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <span class="text-muted">رقم IBAN</span>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-lg-1">
                                                <input type="text" class="form-control" placeholder="" asp-for="ClientDTO.IB0" maxlength="2" autocomplete="off" value="SA" readonly />
                                            </div>
                                            <div class="col-lg-1">
                                                <input type="number" class="form-control" placeholder="" asp-for="ClientDTO.IB1" onKeyPress="if(this.value.length==2) return false;" autocomplete="off" required step="" />
                                                <span class="text-danger field-validation-valid" asp-validation-for="ClientDTO.IB1" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="number" class="form-control" placeholder="" asp-for="ClientDTO.IB2" onKeyPress="if(this.value.length==4) return false;" autocomplete="off" required />
                                                <span class="text-danger field-validation-valid" asp-validation-for="ClientDTO.IB2" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="number" class="form-control" placeholder="" asp-for="ClientDTO.IB3" onKeyPress="if(this.value.length==4) return false;" autocomplete="off" required />
                                                <span class="text-danger field-validation-valid" asp-validation-for="ClientDTO.IB3" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="number" class="form-control" placeholder="" asp-for="ClientDTO.IB4" onKeyPress="if(this.value.length==4) return false;" autocomplete="off" required />
                                                <span class="text-danger field-validation-valid" asp-validation-for="ClientDTO.IB4" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="number" class="form-control" placeholder="" asp-for="ClientDTO.IB5" onKeyPress="if(this.value.length==4) return false;" autocomplete="off" required />
                                                <span class="text-danger field-validation-valid" asp-validation-for="ClientDTO.IB5" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="number" class="form-control" placeholder="" asp-for="ClientDTO.IB6" onKeyPress="if(this.value.length==4) return false;" autocomplete="off" required />
                                                <span class="text-danger field-validation-valid" asp-validation-for="ClientDTO.IB6" data-valmsg-replace="true"></span>
                                            </div>

                                        </div>
                                        <span id="ibanerror"></span>
                                        <!--begin::Separator-->
                                        <div class="separator separator-solid my-5"></div>
                                        <!--end::Separator-->
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="text-muted">مبلغ مطالبة السداد</span>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group input-group-solid">
                                                <input type="number" class="form-control form-control-solid" placeholder="" asp-for="ExpectedAmount" autocomplete="off" required />
                                            </div>
                                            <span class="text-danger field-validation-valid" asp-validation-for="ExpectedAmount" data-valmsg-replace="true"></span>
                                        </div>
                                        <span id="claimerror"></span>
                                        <!--begin::Separator-->
                                        <div class="separator separator-solid my-5"></div>
                                        <!--end::Separator-->
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="text-muted">قيمة الضريبة</span>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group input-group-solid">
                                                <input type="number" class="form-control form-control-solid" placeholder="" asp-for="VATAmount" autocomplete="off" required />
                                            </div>
                                            <span class="text-danger field-validation-valid" asp-validation-for="VATAmount" data-valmsg-replace="true"></span>
                                        </div>
                                        <span id="vaterror"></span>
                                        <!--begin::Separator-->
                                        <div class="separator separator-solid my-5"></div>
                                        <!--end::Separator-->
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="text-muted">ملاحظات / ملاحظات</span>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control form-control-solid" rows="3" asp-for="Comment"></textarea>
                                        </div>
                                        <span id="noteerror"></span>
                                        <div class="form-group">

                                            <input asp-for="FilesUploaded" type="file" max="5" multiple class="btn-bg-primary" id="file" accept="image/jpeg,image/png,application/pdf,image/x-eps" onchange="javascript:updateList()" required>
                                            <span id="fileList"></span>
                                            <span class="text-danger field-validation-valid" asp-validation-for="FilesUploaded" id="filevalid" data-valmsg-replace="true"></span>
                                            <span class="form-text text-dark-50"> ملفات PDF وملفات الصور المدعومة فقط. الحد الأقصى لحجم الملف هو 2 ميغابايت. أقصى عدد للملفات المدعومة 5.</span>
                                        </div>
                                        @*<div class="form-group row">
                                                <label class="col-lg-3 col-form-label text-lg-right">Upload Files:</label>
                                                <div class="col-lg-9">
                                                    <div class="dropzone dropzone-multi" id="kt_dropzone_4">
                                                        <div class="dropzone-panel mb-lg-0 mb-2">
                                                            <a class="dropzone-select btn btn-light-primary font-weight-bold btn-sm dz-clickable">Attach files</a>
                                                            <a class="dropzone-upload btn btn-light-primary font-weight-bold btn-sm">Upload All</a>
                                                            <a class="dropzone-remove-all btn btn-light-primary font-weight-bold btn-sm">Remove All</a>
                                                        </div>
                                                        <div class="dropzone-items">

                                                        </div>
                                                        <div class="dz-default dz-message"><button class="dz-button" type="button">Drop files here to upload</button></div>
                                                    </div>
                                                    <span class="form-text text-muted">Max file size is 1MB and max number of files is 5.</span>
                                                </div>
                                            </div>*@
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary mr-2">تطبيق المطالبة</button>
                                        </div>
                                    </div>
                                    <!--end::card body-->
                                </div>
                                <!--end::Card-->
                            </div>
                            <!--end::Content-->
                        </div>
                        <!--end::Profile Account Information-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Entry-->
            </form>
        </div>
    }
}
<link href="/assets/Custom/css/policy/policy.css" rel="stylesheet">

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/assets/Custom/js/Claims/applyclaim.js"></script>

<script src="~/assets/Custom/js/dropdown.js"></script>
<script>
    updateList = function () {
        if ($("#file")[0].files.length > 5) {

            $("#filevalid").text('Please Select only 5 files');
            $("#file").val('');
        } else {
            $("#filevalid").hide();
            var input = document.getElementById('file');
            var output = document.getElementById('fileList');

            output.innerHTML = '<ul>';
            for (var i = 0; i < input.files.length; ++i) {
                output.innerHTML += '<li>' + input.files.item(i).name + '</li>';
            }
            output.innerHTML += '</ul>';
        }

    }
</script>