
@{
    if (ViewBag.lang == "en")
    {
        Layout = "_Layouten";
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <!--begin::Subheader-->
            <div class="subheader py-3 py-lg-8 subheader-transparent" id="kt_subheader">
                <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                    <!--begin::Info-->
                    <div class="d-flex align-items-center flex-wrap mr-1">
                        <!--begin::Mobile Toggle-->
                        <button class="burger-icon burger-icon-left mr-4 d-inline-block d-lg-none" id="kt_subheader_mobile_toggle">
                            <span></span>
                        </button>
                        <!--end::Mobile Toggle-->
                        <!--begin::Page Heading-->
                        <div class="d-flex align-items-baseline mr-5">
                            <!--begin::Page Title-->
                            <h2 class="subheader-title text-white font-weight-bold my-2 mr-3">Limitations and exclusions</h2>
                            <!--end::Page Title-->
                        </div>
                        <!--end::Page Heading-->
                    </div>
                    <!--end::Info-->

                </div>
            </div>
            <!--end::Subheader-->
            <!--begin::Entry-->
            <div class="d-flex flex-column-fluid">
                <!--begin::Container-->
                <div class="container">
                    <!--begin::Profile Account Information-->
                    <div class="d-flex flex-row">
                        <!--begin::Aside-->
                        <div class="flex-row-auto offcanvas-mobile w-1000px w-xxl-1000px" id="kt_profile_aside">
                            <div class="flex-row-fluid ml-lg-8">
                                <!--begin::Card-->
                                <div class="card card-custom">
                                    <!--begin::Header-->
                                    <div class="card-header py-3">
                                        <div class="card-title align-items-lg-stretch flex-column">
                                            <h3 class="text-dark font-weight-bold  mt-1"> Limits & Exclusions</h3>
                                        </div>

                                    </div>
                                    <!--end::Header-->
                                    <!--begin::card body-->
                                    <div class="card-body">
                                        <h4 class="text-dark font-weight-bold  mt-1">
                                            A.This policy shall not cover claims arising from:</h4>
                                            <ul class="list-unstyled font-size-h6">
                                                <li>
                                                    <ul>
                                                        <li>Intentional Self-inflicted injury.</li>
                                                        <li>Sickness resulting from the abuse of some medicine, stimulants or tranquilizers, or from the use of alcohol, drugs or similar substances.</li>
                                                        <li>Cosmetic treatment or surgery unless necessitated by a bodily injury not excluded in this section.</li>
                                                        <li>General checkup, inoculations, drugs or preventive measures that are not required for a medical treatment covered under this policy (excluding preventive procedures as defined by the Ministry of Health like vaccinations and mother care and childcare).</li>
                                                        <li>Treatment received by a beneficiary free of charge.</li>
                                                        <li>Rest cures, general health cares and treatment in social healthcare institutions.</li>
                                                        <li>Any disease or injury resulting directly from the beneficiary's profession.</li>
                                                        <li>Medically recognized venereal or sexually transmitted diseases.</li>
                                                        <li>Costs of treatment following diagnosis of HIV or any disease related to HIV including AIDS and its derivatives alternatives or other forms.</li>
                                                        <li>All costs relating to tooth implant, artificial teeth, fixed or mobile bridges or orthodontic treatment unless resulting from violent external means.</li>
                                                        <li>Vision or hearing tests and visual or hearing aids.</li>
                                                        <li>Transportation expenses other than by a licensed local ambulance or an ambulance of the Saudi Red Crescent Society.</li>
                                                        <li>Loss of hair, baldness or artificial hair.</li>
                                                        <li>Allergy testing of any nature unless relating to medicine, diagnosis or treatment.</li>
                                                        <li>Drugs, procedures, equipment’s or hormone treatment for the purpose of regulating reproduction, contraception, fertility, infertility, impotence, secondary sterility, in-vitro fertilization or any other method of artificial fertilization</li>
                                                        <li>Any congenital defect or deformity existing prior to the inception date unless it is life threatening.</li>
                                                        <li>Any costs or additional expenses incurred by the beneficiary's companion during a hospital stay except hospital room and board charges for one companion, like a mother accompanying her baby aged up to twelve years or whenever medically necessary as judged by threatening  physician.</li>
                                                        <li>Treatment of Acne (adolescence pimples).</li>
                                                        <li>Any treatment related to overweight or obesity except the costs of covering morbid obesity treatment surgery (Gastric Sleeve Surgery only) if Body Mass Index exceed 45 (BMI). According to the benefit limits specified in the policy’s schedule.</li>
                                                        <li>Organ or bone marrow transplant or implant of artificial organs to replace any organ of the body.</li>
                                                        <li>Personal risk cases as indicated in the definitions section of the policy document section one.</li>
                                                        <li>Alternative and homeopathic treatment and medications.</li>
                                                        <li>Artificial appendages and supplementary prosthetics </li>
                                                        <li>Any changes related to aging of the female insured such as menopausal changes.</li>

                                                    </ul>
                                                </li>
                                            </ul>

                                           
                                            <!--begin::Separator-->
                                            <div class="separator separator-solid my-5"></div>
                                            <!--end::Separator-->
                                    </div>
                                    <!--end::card body-->
                                </div>
                                <!--end::Card-->
                            </div>
                        </div>
                        <!--end::Aside-->
                        <!--begin::Content-->
                        <!--end::Content-->
                    </div>
                    <!--end::Profile Account Information-->
                </div>
                <!--end::Container-->
            </div>
            <!--end::Entry-->
        </div>
    }
    else if (ViewBag.lang == "ar")
    {
        Layout = "_Layoutv1";

        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <!--begin::Subheader-->
            <div class="subheader py-3 py-lg-8 subheader-transparent" id="kt_subheader">
                <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                    <!--begin::Info-->
                    <div class="d-flex align-items-center flex-wrap mr-1">
                        <!--begin::Mobile Toggle-->
                        <button class="burger-icon burger-icon-left mr-4 d-inline-block d-lg-none" id="kt_subheader_mobile_toggle">
                            <span></span>
                        </button>
                        <!--end::Mobile Toggle-->
                        <!--begin::Page Heading-->
                        <div class="d-flex align-items-baseline mr-5">
                            <!--begin::Page Title-->
                            <h2 class="subheader-title text-white font-weight-bold my-2 mr-3">القيود والاستثناءات</h2>
                            <!--end::Page Title-->
                        </div>
                        <!--end::Page Heading-->
                    </div>
                    <!--end::Info-->

                </div>
            </div>
            <!--end::Subheader-->
            <!--begin::Entry-->
            <div class="d-flex flex-column-fluid">
                <!--begin::Container-->
                <div class="container">
                    <!--begin::Profile Account Information-->
                    <div class="d-flex flex-row">
                        <!--begin::Aside-->
                        <div class="flex-row-auto offcanvas-mobile w-1000px w-xxl-1000px" id="kt_profile_aside">
                            <div class="flex-row-fluid ml-lg-8">
                                <!--begin::Card-->
                                <div class="card card-custom">
                                    <!--begin::Header-->
                                    <div class="card-header py-3">
                                        <div class="card-title align-items-lg-stretch flex-column">
                                            <h3 class="text-dark font-weight-bold  mt-1"> التحديدات والاستثناءات</h3>
                                        </div>

                                    </div>
                                    <!--end::Header-->
                                    <!--begin::card body-->
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <span class="font-size-sm font-weight-bold mr-2">أ- هذه الوثيقة لن تغطي المطالبات التي تنشأ عما يلي : </span>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <span class="font-size-sm font-weight-bold mr-2">(01) الإصابة التي يسببها الشخص لنفسه متعمداً.</span>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <span class="font-size-sm font-weight-bold mr-2">(02) الأمراض التي تنشا بفعل إساءة استعمال بعض الأدوية أو المنشطات أو المهدئات أو بفعل تعاطي المواد الكحولية أو المخدرات أو ما شابه ذلك.</span>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <span class="font-size-sm font-weight-bold mr-2">(03) الجراحة أو المعالجة التجميلية إلا إذا استدعتها إصابة جسدية عرضية غير مستثناة في هذا القسم .</span>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="font-size-sm font-weight-bold mr-2"> (04) الفحوصات الشاملة واللقاحات أو العقاقير أو الوسائل الوقائية التي لا تتطلبها معالجة طبية منصوص عليها في هذه الوثيقة (باستثناء الإجراءات الوقائية التي تحددها وزارة الصحة مثل التطعيمات ورعاية الأمومة والطفولة).</span>
                                        </div><br />
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="font-size-sm font-weight-bold mr-2">(05) المعالجة التي يتلقاها الشخص المؤمن له بدون مقابل.</span>
                                        </div><br />
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="font-size-sm font-weight-bold mr-2">(06) الإستجمام وبرامج الصحة البدنية العامة والعلاج في دور الرعاية الإجتماعية.</span>
                                        </div><br />
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="font-size-sm font-weight-bold mr-2">(07) أي علة أو إصابة تنشأ كنتيجة مباشرة لمهنة الشخص المؤمن له.</span>
                                        </div><br />
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="font-size-sm font-weight-bold mr-2">(08) معالجة الأمراض التناسلية أو التي تنتقل بالإتصال الجنسي المتعارف عليها طبياً .</span>
                                        </div><br />
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="font-size-sm font-weight-bold mr-2">(09) مصاريف علاج الفترة اللاحقة لتشخيص ( فيروس نقص المناعة البشرية)HIV أو العلل ذات الصلة بال HIV بما فيها مرض الإيدز ( نقص المناعة المكتسبة ) أو مشتقاتها أو مرادفاتها أو أشكالها الأخرى .</span>
                                        </div><br />
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="font-size-sm font-weight-bold mr-2"> (10) جميع التكاليف المتعلقة بزرع الأسنان أو تركيب الأسنان الإصطناعية أو الجسور الثابتة أو المتحركة أو التقويم باستثناء تلك التي نتجت عن حادث.</span>
                                        </div><br />
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="font-size-sm font-weight-bold mr-2">(11) إختبارات وعمليات تصحيح النظر أو السمع والوسائل البصرية أو السمعية المساعدة.</span>
                                        </div><br />
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="font-size-sm font-weight-bold mr-2">(12) مصاريف انتقال الشخص المؤمن له داخل وبين مدن المملكة بوسائل نقل غيرمرخصة.</span>
                                        </div><br />
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="font-size-sm font-weight-bold mr-2">(13) تساقط الشعر أو الصلع أو الشعر المستعار.</span>
                                        </div><br />
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="font-size-sm font-weight-bold mr-2">(14) اختبارات الحساسية مهما كانت طبيعتها بخلاف تلك المتعلقة بوصف أدوية العلاج.</span>
                                        </div><br />
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="font-size-sm font-weight-bold mr-2">(15) الأجهزة والوسائل والعقاقير والإجراءات أو المعالجة بالهرمونات بهدف تنظيم النسل أو منع الحمل أو حصوله أو العقم أو العجز الجنسي أو نقص الخصوبة أو التخصيب بواسطة الأنابيب أو أية وسائل أخرى للتلقيح الاصطناعي.</span>
                                        </div><br />
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="font-size-sm font-weight-bold mr-2">(16) حالات الضعف أو التشوه الخلقي إلا إذا كانت تشكل خطورة على حياة المؤمن له.</span>
                                        </div><br />
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="font-size-sm font-weight-bold mr-2">(17) أي تكاليف أو مصاريف إضافية يتكبدها المرافق للمؤمن له  أثناء تنويمه أو إقامته بالمستشفى عدا نفقة الإقامة والإعاشة في المستشفى لمرافق واحد للمؤمن له ,كمرافقة الأم لطفلها حتى سن الثانية عشرة ، أو حيثما تقتضي الضرورة الطبية ذلك حسب تقدير الطبيب المعالج .</span>
                                        </div><br />
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="font-size-sm font-weight-bold mr-2">(18) معالجة البثور ( حب الشباب) </span>
                                        </div><br />
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="font-size-sm font-weight-bold mr-2">(19) أي معالجة تتعلق بالسمنة أو البدانة ماعدا تكاليف تغطية عملية جراحة معالجة السمنة المفرطة عن طريق عملية تكميم المعدة فقط (Sleeve) في حال تجاوز كتلة الجسم 45 (BMI ) وفق حدود المنفعة في جدول الوثيقة. </span>
                                        </div><br />
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="font-size-sm font-weight-bold mr-2">(20) حالات زرع الأعضاء المنقولة والنخاع العظمي أو زرع الأعضاء الاصطناعية البديلة التي تحل محل أي عضو بالجسم بشكل كلي أو جزئي.</span>
                                        </div><br />
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="font-size-sm font-weight-bold mr-2">(21) الأخطار الشخصية الواردة في قسم التعريفات من هذه الوثيقة.</span>
                                        </div><br />
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="font-size-sm font-weight-bold mr-2">(22) أدوية ووسائل العلاج بالطب البديل.</span>
                                        </div><br />
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="font-size-sm font-weight-bold mr-2">(23) الأطراف الصناعية والأطراف المساعدة،</span>
                                        </div><br />
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span class="font-size-sm font-weight-bold mr-2">(24) التغيرات الطبيعية لسن اليأس للمؤمن لها ويشمل ذلك تغيرات الطمث.</span>
                                        </div><br />
                                        <!--begin::Separator-->
                                        <div class="separator separator-solid my-5"></div>
                                        <!--end::Separator-->
                                    </div>
                                    <!--end::card body-->
                                </div>
                                <!--end::Card-->
                            </div>
                        </div>
                        <!--end::Aside-->
                        <!--begin::Content-->
                        <!--end::Content-->
                    </div>
                    <!--end::Profile Account Information-->
                </div>
                <!--end::Container-->
            </div>
            <!--end::Entry-->
        </div>

    }
}
